# /etc/systemd/system/media-auth-backup.timer
[Unit]
Description=Run Mongo backup daily at 02:00

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=media-auth-backup.service

[Install]
WantedBy=timers.target
