[Unit]
Description=Chạy media-reup khi khởi động
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=oneshot
User=wbm
ExecStart=/bin/bash /home/wbm/projects/media-reup/startup.sh
StandardOutput=append:/var/log/media-reup.log
StandardError=append:/var/log/media-reup.log
RemainAfterExit=true
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/home/wbm/projects/media-reup

[Install]
WantedBy=multi-user.target